<div class="main bottom-safe-area">
    <div class="content">
        <div class="detail-top">
            <div data-v-61361ba2="" data-v-16af04c0="" class="bg-default"
                style="background-image: url(&quot;https://gd1.alicdn.com/imgextra/i4/0/O1CN01xknrOS2GdSAvznkh2_!!0-item_pic.jpg_400x400&quot;);">
            </div>
            <div class="container">
                <div class="imgframe">
                    <div class="img"
                        style="background-image: url(&quot;https://gd1.alicdn.com/imgextra/i4/0/O1CN01xknrOS2GdSAvznkh2_!!0-item_pic.jpg_400x400&quot;);">

                    </div>
                </div>
                <div class="right-content">
                    <div class="right-content-top">
                        <p class="title">【太原】晋阳湖大型水上实景演艺《如梦晋阳》 </p>
                    </div>
                    <div class="right-content-bottom">
                        <div class="price-section">
                            <span class="price">¥175-¥218</span>
                            <span class="dashprice"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-bar">
            <div class="service-item">
                <div class="text">不支持选座</div>
            </div>
            <div class="service-item">
                <div class="text">自动取票</div>
            </div>
            <div class="service-item">
                <div class="text">纸质发票</div>
            </div>
        </div>
        <div class="detail-time-info">
            <div data-v-87786d5e="" class="left">
                <div data-v-87786d5e="" class="time"><span data-v-87786d5e="" class="time-str">2019.06.12-06.30</span>
                    <i data-v-87786d5e="" class="iconfont icon-jiantouyou icon-arrow"></i></div>
                <div data-v-87786d5e="" class="time-desc single-line">活动时长约120分钟（以现场为准）</div>
            </div>
            <div data-v-87786d5e="" class="bottom-line"></div>
        </div>
        <div class="location-info">
            <div data-v-066083e9="" class="location-left">
                <p data-v-066083e9="" class="location-left-city single-line">太原市 | 晋阳湖剧场</p>
                <p data-v-066083e9="" class="location-left-address single-line">新晋祠路与健康南街交汇处</p>
            </div>
            <div class="location-right">
                <div data-v-066083e9="" class="dm-venue-amap dm-venue-map location-right-icon">
                </div>
            </div>

        </div>
        <div class="section-padding"></div>
        <div class="section-title">
            <div class="title-text">演出介绍</div>
        </div>
        <div class="cell-content">
            <div style="display: block">
                <div data-v-b684c5be="" id="detail-html-box" class="project-detail-html"
                    style="overflow: hidden; height: 333.5px;">
                    <div data-v-b684c5be="" class="project-readmore__bg"></div>
                    <div data-v-b684c5be="" id="item-detail-html-box">
                        <h3>演出介绍</h3>
                        <p>晋阳湖大型水上实景演艺《如梦晋阳》</p>
                        <p></p>
                        <p>晋阳湖大型水上实景演艺《如梦晋阳》是太原市重点文化旅游项目，项目位于太原市晋源区晋阳湖景区的东南角，是晋阳湖公园中最大的亮点。《如梦晋阳》是国内首个以晋阳文化为题材的文旅演艺项目。以水火元素作为演出视觉核心概念，从探寻晋阳文化、难老泉和古晋阳城的线索上展开演绎了一场从古至今、古城演变的动人故事，引领观众去经历一个"奇妙的梦幻之旅"，共同去感悟古老的晋阳以及那座曾经消失于千年前的古城...
                            ...通过皮影、晋祠等传统晋文化元素和巨型喷泉矩阵灯光、投影、激光、威亚等现代舞台科技，形成弘大蓬勃的视听效果，将古晋阳城的文化历史精髓完美再现，并展现出昂扬热烈的晋人风骨。</p>
                        <p></p>
                        <p><img
                                src="https://img.alicdn.com/imgextra/i1/2251059038/O1CN01W4Yqw62GdSAvg2PeL_!!2251059038.png_600x600Q75s200_.webp">
                        </p>
                        <p><img
                                src="https://img.alicdn.com/imgextra/i3/2251059038/O1CN013tv7Jr2GdSAvxoPcU_!!2251059038.jpg_600x600Q75s200_.webp">
                        </p>
                        <p><img
                                src="https://img.alicdn.com/imgextra/i3/2251059038/O1CN01jSkmqk2GdSAt8YQxk_!!2251059038.jpg_600x600Q75s200_.webp">
                        </p>
                        <p><img
                                src="https://img.alicdn.com/imgextra/i4/2251059038/O1CN01Hop5GY2GdSAyduwB9_!!2251059038.jpg_600x600Q75s200_.webp">
                        </p>
                        <p><img
                                src="https://img.alicdn.com/imgextra/i1/2251059038/O1CN01o2EOHn2GdSAvzDpq7_!!2251059038.jpg_600x600Q75s200_.webp">
                        </p>
                        <p><img
                                src="https://img.alicdn.com/imgextra/i2/2251059038/O1CN01PZpRW62GdSAx8f2lQ_!!2251059038.jpg_600x600Q75s200_.webp">
                        </p>
                        <p>《如梦晋阳》创意制作团队锋尚文化近年来成功打造了一系列具有广泛影响力的项目，包括2018平昌冬奥会《中国八分钟》文艺演出、杭州G20峰会大型水上情景表演交响音乐会--《最忆是杭州》、
                            2018青岛上合峰会文艺演出，2019年中国北京世园会开幕式文艺演出等。《如梦晋阳》作为锋尚文化文旅演出品牌"如梦"系列的开山之作，将袭承锋尚文化出品的一贯品质与高度，汲取晋阳古城的悠久文化底蕴与传承，展望山西太原的蓬勃发展。
                        </p>
                        <p>《如梦晋阳》拥有国内最大的全水下喷泉矩阵。拥有面积高达182m×82m的喷泉矩阵，设备岛的璀璨灯光，加上直流、对拱、扇形水幕、以及后方的80m×19m网幕形成视觉矩阵，配合可升降演出水舞台，真正形成演员在水中起舞的技术表现。这样的设备规模和高新技术应用，在国内的各种演艺项目中是超前领先的。
                        </p>
                        <p>《如梦晋阳》的舞蹈演出部分，由山西华晋舞剧团的优秀舞蹈演员担纲。华晋舞剧团创排、演出的大型舞剧《一把酸枣》和《粉墨春秋》代表了我国舞蹈艺术的最高水准，先后获得"文华大奖"、"五个一工程奖"等国内文化艺术的最高荣誉。
                        </p>
                        <p>《如梦晋阳》演出地点位于山西省太原市晋源区环湖东路与健康南街交汇处晋阳湖剧场，是目前我省唯一的大型户外露天水岸剧场，项目使用湖面面积300亩，观众区及配套区面积约为6亩，观众区全部为露天坐席。项目以固定时间地点、常态化的演出形式，将文化旅游和城市休闲娱乐结合，为观众呈现一场诗与远方的极致视听盛宴！晋阳湖大型水上实景演艺《如梦晋阳》将作为5月25日环太原国际公路自行车赛开幕式演出进行精彩集锦展示，6月6日正式重磅首演，之后将于每晚8点（周一公休）进行常态化演出，2019年度演出预计持续至10月中旬。
                        </p>
                    </div>
                </div>


            </div>
            <div class="project-readmore">展开更多</div>
        </div>

        <div data-v-3b3aea34="" data-v-5dfd96bd="" class="notice-section"
            noticelist="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]">
            <div data-v-026c0cd9="" data-v-3b3aea34="" class="section-title" data-spm="dmore">
                <div data-v-026c0cd9="" class="title-text">须知事项</div>
                <!---->
            </div>
            <div data-v-3b3aea34="" class="subtitle">购票须知</div>
            <div data-v-3b3aea34="" class="notice-content">
                <div data-v-26981003="" data-v-3b3aea34="" class="info-item">
                    <div data-v-26981003="" class="item-title"><i data-v-26981003=""
                            class="iconfont icon icondagou_"></i>
                        <div data-v-26981003="" class="text">限购说明</div>
                    </div>
                    <div data-v-26981003="" class="item-text">选座购买每单限6张，立即购买每单限20张</div>
                </div>
                <div data-v-26981003="" data-v-3b3aea34="" class="info-item">
                    <div data-v-26981003="" class="item-title"><i data-v-26981003=""
                            class="iconfont icon icondagou_"></i>
                        <div data-v-26981003="" class="text">实名制</div>
                    </div>
                    <div data-v-26981003="" class="item-text">无需实名制购票</div>
                </div>
                <div data-v-26981003="" data-v-3b3aea34="" class="info-item">
                    <div data-v-26981003="" class="item-title"><i data-v-26981003=""
                            class="iconfont icon icondagou_"></i>
                        <div data-v-26981003="" class="text">儿童购票说明</div>
                    </div>
                    <div data-v-26981003="" class="item-text">儿童一律凭成人票入场</div>
                </div>
                <div data-v-3b3aea34="" class="read-more">
                    <div data-v-3b3aea34="" class="text">全部8条购票须知</div>
                </div>
            </div>
            <div data-v-3b3aea34="" class="subtitle subtitle-margin-top">活动须知</div>
            <div data-v-3b3aea34="" class="notice-content">
                <div data-v-26981003="" data-v-3b3aea34="" class="info-item">
                    <div data-v-26981003="" class="item-title"><i data-v-26981003=""
                            class="iconfont icon icondagou_"></i>
                        <div data-v-26981003="" class="text">入场时间</div>
                    </div>
                    <div data-v-26981003="" class="item-text">活动前约30分钟</div>
                </div>
                <div data-v-26981003="" data-v-3b3aea34="" class="info-item">
                    <div data-v-26981003="" class="item-title"><i data-v-26981003=""
                            class="iconfont icon icondagou_"></i>
                        <div data-v-26981003="" class="text">禁止携带物品</div>
                    </div>
                    <div data-v-26981003="" class="item-text">
                        由于安保和版权的原因，大多数演出、展览及比赛场所禁止携带食品、饮料、专业摄录设备、打火机等物品，请您注意现场工作人员和广播的提示，予以配合</div>
                </div>
                <div data-v-26981003="" data-v-3b3aea34="" class="info-item">
                    <div data-v-26981003="" class="item-title"><i data-v-26981003=""
                            class="iconfont icon icondagou_"></i>
                        <div data-v-26981003="" class="text">寄存说明</div>
                    </div>
                    <div data-v-26981003="" class="item-text">无寄存处，请自行保管携带物品</div>
                </div>
                <div data-v-3b3aea34="" class="read-more">
                    <!---->
                </div>
            </div>
            <!---->
        </div>

    </div>
    <div class="bottom">
        <div class="detail-bar">
            <div class="button-outline">
                <div data-v-d0cc7b08="" class="left"><i data-v-d0cc7b08="" class="left__icon2 icon-home"></i>
                    <p data-v-d0cc7b08="" class="left__msg">大麦首页</p>
                </div>
                <div data-v-d0cc7b08="" class="left"><i data-v-d0cc7b08="" class="left__icon left__icon-disfavor"></i>
                    <p data-v-d0cc7b08="" class="left__msg">想看</p>
                </div>
                <div class="detail-button">
                    <div data-v-3be445e2="" data-v-d0cc7b08="" class="button button-primary">
                        <div data-v-d0cc7b08="" data-v-3be445e2="" class="buy">
                            <!---->
                            <div data-v-d0cc7b08="" data-v-3be445e2="" class="buy__button">
                                <p data-v-d0cc7b08="" data-v-3be445e2="" class="buy__button__text">立即购买</p>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dm-toast"></div>
    <div class="dm-loading"></div>

</div>
</div>