<div data-v-702278e7="" data-v-5dfd96bd="" data-spm="recommend" class="detail-suggest">
        <h4 data-v-702278e7="" class="detail-suggest-title">为你推荐</h4>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_0">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="//img.alicdn.com/bao/uploaded/i4/2251059038/O1CN010EY9Dy2GdS9xlZ62W_!!0-item_pic.jpg_q60.jpg_.webp"
                            lazy="loaded">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">话剧《你还弹吉他吗》</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            太原 / 2019.06.13 周四 19:30 / 山西大剧院
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion"><span data-v-2d7cf934=""
                                data-v-442bf385=""
                                class="tag skin project-item_info_tag project-item_info_xuanzuo tag-small project_newhome_tag">
                                可选座
                            </span> </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥80-680</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_1">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="//img.alicdn.com/bao/uploaded/i4/2251059038/O1CN01Zqlxji2GdSAQl4elI_!!0-item_pic.jpg_q60.jpg_.webp"
                            lazy="loaded">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">2019国之瑰宝·保利情—中华优秀地方剧目展演 《“歌从黄河来·走西口的歌谣”——西部民歌展演》</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            太原 / 2019.06.14 周五 19:30 / 山西大剧院
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion"><span data-v-2d7cf934=""
                                data-v-442bf385=""
                                class="tag skin project-item_info_tag project-item_info_xuanzuo tag-small project_newhome_tag">
                                可选座
                            </span> </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥30-150</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_2">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="//img.alicdn.com/bao/uploaded/i3/2251059038/O1CN01BKX2hF2GdSAgfix12_!!0-item_pic.jpg_q60.jpg_.webp"
                            lazy="loaded">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">2019口碑佳作话剧《亲切的凶手》名堂剧社</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            太原 / 2019.07.19-07.20 / 太原工人文化宫
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion"><span data-v-2d7cf934=""
                                data-v-442bf385=""
                                class="tag skin project-item_info_tag project-item_info_xuanzuo tag-small project_newhome_tag">
                                可选座
                            </span> </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥45-108</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_3">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="//img.alicdn.com/bao/uploaded/i3/2251059038/O1CN01H1t4La2GdSAWsmubt_!!0-item_pic.jpg_q60.jpg_.webp"
                            lazy="loaded">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">2019任贤齐【齐迹】演唱会—太原站</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            太原 / 2019.09.07 周六 19:30 / 山西体育中心体育馆
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion">
                            <!---->
                        </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥299-1299</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_4">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            lazy="loading">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">话剧《雷管》</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            太原 / 2019.06.16 周日 19:30 / 山西大剧院
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion"><span data-v-2d7cf934=""
                                data-v-442bf385=""
                                class="tag skin project-item_info_tag project-item_info_xuanzuo tag-small project_newhome_tag">
                                可选座
                            </span> </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥80-380</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_5">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            lazy="loading">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">第二届平遥国际雕塑节</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            晋中 / 2019.07.05-07.28 / 平遥古城
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion">
                            <!---->
                        </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥19.9-50</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_6">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            lazy="loading">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">八泉峡明星旅游目的地系列推介活动《丝路卿樂女子乐团影视金曲专场——一生所爱》</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            太原 / 2019.06.15 周六 19:30 / 太原工人文化宫
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion"><span data-v-2d7cf934=""
                                data-v-442bf385=""
                                class="tag skin project-item_info_tag project-item_info_xuanzuo tag-small project_newhome_tag">
                                可选座
                            </span> </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥30-80</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_7">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            lazy="loading">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">话剧《根据自在年轻》</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            太原 / 2019.06.22 周六 19:30 / 山西大剧院小剧场
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion"><span data-v-2d7cf934=""
                                data-v-442bf385=""
                                class="tag skin project-item_info_tag project-item_info_xuanzuo tag-small project_newhome_tag">
                                可选座
                            </span> </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥80-580</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_8">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            lazy="loading">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">2019国之瑰宝·保利情 大型原创黄梅戏《太白醉》</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            太原 / 2019.06.19 周三 19:30 / 山西大剧院
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion"><span data-v-2d7cf934=""
                                data-v-442bf385=""
                                class="tag skin project-item_info_tag project-item_info_xuanzuo tag-small project_newhome_tag">
                                可选座
                            </span> </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥30-150</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div data-v-702278e7="">
            <div data-v-702278e7="" class="detail-suggest-item">
                <div data-v-442bf385="" data-v-702278e7="" class="project-item skin project_newhome" data-spm="ditem_9">
                    <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385=""
                            class="project-item_pic_poster"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            lazy="loading">
                        <!---->
                    </div>
                    <div data-v-442bf385="" class="project-item_info">
                        <div data-v-442bf385=""
                            class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line">
                            <span data-v-442bf385="">李云迪 奏鸣曲 2019世界巡回钢琴独奏音乐会 （送大师课门票）太原站</span></div>
                        <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                            太原 / 2019.11.20 周三 19:30 / 山西大剧院音乐厅
                        </div>
                        <div data-v-442bf385="" class="project-item_info_promotion">
                            <!---->
                        </div>
                        <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                                class="project-item_info_price_str">￥480-1680</span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
    </div>