<div class="search">
    <div class="search_bar">
        <div class="search_bar_input_wrapper">
            <i>&#xe614;</i> 
            <input type="text" class="home-top__search__input"   placeholder="搜索明星、演出比赛、场馆">
        </div>
        <span class="search_bar_cancel">取消</span>
    </div>
    <div class="search_keyword_container">
        <div class="search_keyword_container_history">
            <div class="keyword">
                <div class="keyword_title">
                    搜索历史
                </div>
                <ul class="keyword_list">
                    <li class="keyword_list_item">陈粒</li>
                    <li class="keyword_list_item">陈粒</li>
                    <li class="keyword_list_item">陈粒</li>
                    <li class="keyword_list_item">陈粒</li>
                    <li class="keyword_list_item">陈粒</li>
                </ul>
            </div>
        </div>
        <div class="keyword">
                <div class="keyword_title">
                        热搜
                    </div>
                    <ul class="keyword_list">
                        <li class="keyword_list_item">陈粒</li>
                        <li class="keyword_list_item">林宥嘉</li>
                        <li class="keyword_list_item">汪峰</li>
                        <li class="keyword_list_item">李宗盛</li>
                        <li class="keyword_list_item">李荣浩</li>
                        <li class="keyword_list_item">薛之谦</li>
                    </ul>
        </div>
    </div>
</div>