<div class="home_box">
    <div class="home skin">
        <div class="home-header">
            <div class="home-top">
                <div class="home-top__city">
                    <i class="iconfont icon-daohangdizhi home-top__city__arrow">&#xe63e;</i>
                    <span class="home-top__city__cityname">全国</span>
                </div>
                <div class="search-label home-top__search">
                    <i class="iconfont icon-sousuo search-label__icon"></i>
                    <span>搜索明星、演出比赛、场馆</span>
                </div>
                <i class="iconfont icon-wode">&#xe615;</i>
            </div>
        </div>
    <div class="home-content">
    <div class="mswiper">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="home-grids">
        </div>
        <div class="home-content-ad">
            <span class="golbal-ad__poster"></span>
        </div>
        <div class="home-artist">
            <div class="title-top">
                <div class="title">大咖在大麦</div>
                <span class="home-artist-myFollow"> 查看更多 &gt;</span>
            </div>
            <div class="artist-wrapper">
                <ul data-v-35b1b146="" class="artist-wrapper_content">
                    <li data-v-35b1b146="" data-spm="ditem0" class="artist-wrapper_item">
                        <div data-v-35b1b146="" class="artist-top">
                            <div data-v-35b1b146="" alt="" class="artist-img" lazy="loaded"
                                style="background-image: url(&quot;//intercms.damai.cn/artist/pic/1535596053705/1535596053705-main.jpg?x-oss-process=image/quality,q_80/format,webp&quot;);">
                            </div>
                            <div data-v-35b1b146="" class="artist-info">
                                <div data-v-35b1b146="" class="artist-name">周杰伦</div>
                                <div data-v-35b1b146="" class="artist-fans">152.1万粉丝</div>
                            </div>
                            <div data-v-35b1b146="" data-spm="dfollow" class="artist-follow">+ 关注</div>
                        </div>
                        <div data-v-35b1b146="" class="artist-bottom">
                            <div data-v-35b1b146="" class="artist-city">
                                最近2场演出
                            </div> <i data-v-35b1b146="" class="iconfont icon-jiantouyou"></i>
                        </div>
                    </li>
                    <li data-v-35b1b146="" data-spm="ditem1" class="artist-wrapper_item">
                        <div data-v-35b1b146="" class="artist-top">
                            <div data-v-35b1b146="" alt="" class="artist-img" lazy="loaded"
                                style="background-image: url(&quot;//intercms.damai.cn/artist/pic/1534413408234/1534413408234-main.jpg?x-oss-process=image/quality,q_80/format,webp&quot;);">
                            </div>
                            <div data-v-35b1b146="" class="artist-info">
                                <div data-v-35b1b146="" class="artist-name">林俊杰</div>
                                <div data-v-35b1b146="" class="artist-fans">104.4万粉丝</div>
                            </div>
                            <div data-v-35b1b146="" data-spm="dfollow" class="artist-follow">+ 关注</div>
                        </div>
                        <div data-v-35b1b146="" class="artist-bottom">
                            <div data-v-35b1b146="" class="artist-city">
                                最近9场演出
                            </div> <i data-v-35b1b146="" class="iconfont icon-jiantouyou"></i>
                        </div>
                    </li>
                    <li data-v-35b1b146="" data-spm="ditem2" class="artist-wrapper_item">
                        <div data-v-35b1b146="" class="artist-top">
                            <div data-v-35b1b146="" alt="" class="artist-img" lazy="loaded"
                                style="background-image: url(&quot;//intercms.damai.cn/artist/pic/1534413417645/1534413417645-main.jpg?x-oss-process=image/quality,q_80/format,webp&quot;);">
                            </div>
                            <div data-v-35b1b146="" class="artist-info">
                                <div data-v-35b1b146="" class="artist-name">薛之谦</div>
                                <div data-v-35b1b146="" class="artist-fans">56.8万粉丝</div>
                            </div>
                            <div data-v-35b1b146="" data-spm="dfollow" class="artist-follow">+ 关注</div>
                        </div>
                        <div data-v-35b1b146="" class="artist-bottom">
                            <div data-v-35b1b146="" class="artist-city">
                                最近2场演出
                            </div> <i data-v-35b1b146="" class="iconfont icon-jiantouyou"></i>
                        </div>
                    </li>
                    <li data-v-35b1b146="" data-spm="ditem3" class="artist-wrapper_item">
                        <div data-v-35b1b146="" class="artist-top">
                            <div data-v-35b1b146="" alt="" class="artist-img" lazy="loaded"
                                style="background-image: url(&quot;//intercms.damai.cn/artist/pic/1521704613389/1521704613389-main.jpg?x-oss-process=image/quality,q_80/format,webp&quot;);">
                            </div>
                            <div data-v-35b1b146="" class="artist-info">
                                <div data-v-35b1b146="" class="artist-name">陈奕迅</div>
                                <div data-v-35b1b146="" class="artist-fans">38.6万粉丝</div>
                            </div>
                            <div data-v-35b1b146="" data-spm="dfollow" class="artist-follow">+ 关注</div>
                        </div>
                        <div data-v-35b1b146="" class="artist-bottom">
                            <div data-v-35b1b146="" class="artist-city">
                                最近1场演出
                            </div> <i data-v-35b1b146="" class="iconfont icon-jiantouyou"></i>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="home-show">
            <div class="title-top">
                <div class="title">近期演出</div>
                <span class="home-artist-myFollow"> 演出日历 &gt;</span>
            </div>
            <div class="home-week"></div>
            <div class="home-project">
                <div class="home-card">

                </div>
            </div>
        </div>
        <h2 class="title-top">更多演出</h2>
        <div class="home-content-more">
            <div class="home-factor">
                <ul class="home-factor_wrapper">
                    <li class="home-factor_wrapper_item ">更多分类</li>
                    <li class="home-factor_wrapper_item">全部时间</li>
                    <li class="home-factor_wrapper_item home-factor_wrapper_active">推荐排序</li>
                    <li class="home-factor_wrapper_item">距离最近</li>
                </ul>
            </div>
            <div class="home-content-more_projects">
                <div></div>
            </div>
        </div>
    </div>
    </div>
</div>