{{projects}}
<div data-v-6ac40e55="">
    <div data-v-6ac40e55="" class="home_project-item">
        <div data-v-442bf385="" class="project-item skin project_newhome" data-spm="ditem_{{$index}}" data-v-6ac40e55="">
            <div data-v-442bf385="" class="project-item_pic"><img data-v-442bf385="" class="project-item_pic_poster"
                    src="{{$value['verticalPic']}}"
                    lazy="loaded">
                <!---->
            </div>
            <div data-v-442bf385="" class="project-item_info">
                <div data-v-442bf385=""
                    class="project-item_info_title project-item_limit_lines_2 project-item_info_title_line"><span
                        data-v-442bf385="">{{$value['name']}}</span></div>
                <div data-v-442bf385="" class="project-item_info_time project-item_limit_lines_1">
                    {{$value['venuecity']}} / {{$value['showtime']}} / {{$value['venue']}}
                </div>
                <div data-v-442bf385="" class="project-item_info_promotion">
                    <!---->
                </div>
                <div data-v-442bf385="" class="project-item_info_price"><span data-v-442bf385=""
                        class="project-item_info_price_str">￥{{$value['price_str']}}</span>
                    <!---->
                    <!---->
                </div>
                <!---->
            </div>
        </div>
    </div>
</div>