<div class="wrap skin">
    <div>
        <div class="category-wrapper skin">
            <ul class="category-wrapper_content">
                <li class="category-wrapper_item category-wrapper_active">全部</li>
                <li class="category-wrapper_item">演唱会</li>
                <li class="category-wrapper_item">话剧歌剧</li>
                <li class="category-wrapper_item">音乐会</li>
                <li class="category-wrapper_item">曲苑杂坛</li>
                <li class="category-wrapper_item">演唱会</li>
                <li class="category-wrapper_item">话剧歌剧</li>
                <li class="category-wrapper_item">音乐会</li>
                <li class="category-wrapper_item">曲苑杂坛</li>
            </ul>
        </div>

        <div class="factor skin">
            <ul class="home-factor_wrapper"  style="background: #f5f5f5">
                <li class="home-factor_wrapper_item ">全部</li>
                <li class="home-factor_wrapper_item">全部时间</li>
                <li class="home-factor_wrapper_item home-factor_wrapper_active">推荐排序</li>
                <li class="home-factor_wrapper_item">距离最近</li>
            </ul>
            <div class="factor_select"></div>
            <div class="factor_mask"></div>
        </div>
    </div>
    <div class="wrap_projectList">
        <div class="home-content-more_projects">
            <div>

            </div>
        </div>
    </div>
</div>